<div class="general-container">
    <h1 class="container-fluid text-center" id="title">Business Actuarial Model Calculations</h1>
    <div class="criteria-container">
        <app-label-input [LabelName]="'Main Limit'" [InputValue]="main_limit_value" (InputValue)="main_limit_value"></app-label-input>
        <app-label-input [LabelName]="'Main Retention'" [InputValue]="main_retention_value" (InputValue)="main_retention_value"></app-label-input>
        <app-label-select [LabelName]="'Type of Execution'"></app-label-select>
    </div>
    <button class="trigger-button" [disabled]="!main_limit_value.valid || !main_retention_value.valid" (click)="triggerCalculation()">Trigger Calculation</button>
    <app-results-table *ngIf="resultsVisible" [results]="results"></app-results-table>
</div>

